<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lncRNAs</title>
    <style>
        .M1 {
            background-color: khaki;
        }
        .M2 {
            background-color: lightblue;
        }
        .M3 {
            background-color: lightcoral;
        }
        .M4 {
            background-color: lightgrey;
        }

    </style>
</head>
<body>
    <!-- <table>{{ table }}</table> -->
    <h1>lncRNAs in CEMiTool Modules</h1>
    <table>
        <thead style="font-weight: bold;">
            <td>genes</td>
            <td>modules</td>
            <td>DEGs_consensus
        
            </thead>
        <tbody>
            <tr class="M1">
                <td>ARIH2OS</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M1">
                <td>ESRG</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M1">
                <td>FAM215A</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M1">
                <td>HPYR1</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M1">
                <td>LINC00113</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M1">
                <td>PISRT1</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M1">
                <td>TTN-AS1</td>
                <td>M1</td>
                <td>
            </tr>
            <tr class="M2">
                <td>ARRDC3-AS1</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>C15orf54</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>CBR3-AS1</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>DCTN1-AS1</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>HLA-F-AS1</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>HYMAI</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>LINC00161</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>LINC00189</td>
                <td>M2</td>
                <td>TRUE
            </tr>
            <tr class="M2">
                <td>LINC00222</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>MGC16275</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>MIR31HG</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>MKNK1-AS1</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M2">
                <td>NDUFB2-AS1</td>
                <td>M2</td>
                <td>
            </tr>
            <tr class="M3">
                <td>C8orf31</td>
                <td>M3</td>
                <td>TRUE
            </tr>
            <tr class="M3">
                <td>FAM225A</td>
                <td>M3</td>
                <td>TRUE
            </tr>
            <tr class="M3">
                <td>LINC00487</td>
                <td>M3</td>
                <td>TRUE
            </tr>
            <tr class="M4">
                <td>HCG18</td>
                <td>M4</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</body>
</html>